<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>Timestamp</key>
					<string>717079445</string>
					<key>XcodeLocation</key>
					<string>{"MemberID":"3Wi-dd-ynE"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Core Data Example/Base.lproj/Main.storyboard</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBDocumentMemberLocation</string>
			</dict>
			<key>title</key>
			<string>Error: Failed to render and update auto layout status for DetailPageViewController (3Wi-dd-ynE): dlopen(Core Data Example.app, 0x0001): tried: '/Core Data Example' (no such file), '/Library/Developer/CoreSimulator/Volumes/iOS_21A328/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS 17.0.simruntime/Contents/Resources/RuntimeRootCore Data Example.app' (no such file), 'Core Data Example.app' (mach-o file, but is an incompatible architecture (have 'x86_64', need 'arm64'))</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
